<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header"></head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner">

                <form action="#" th:object="${surveyForm}" th:action="@{/save}" method="post">

                    <div id="validation-messages" class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
                        <p th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</p>
                    </div>
                    <div class="input-group">
                        <label for="surveyName"></label>
                        <input type="text" id="surveyName" th:field="*{surveyName}" class="form-control" placeholder="Nome do questionário" />

                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Criar questões</button>
                        </span>
                    </div>
                    <p>
                        <small th:if="${#fields.hasErrors('surveyName')}" th:errors="*{surveyName}" class="alert alert-danger">Name Error</small>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>