<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Survey WEB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    <style>
        .navigation-order{
            margin-bottom: 30px;
        }
    </style>
    <h1>Survey WEB</h1>
</head>
<body>
<form action="#" th:object="${surveyForm}" th:action="@{/save}" method="post">
    <ul id="validation-messages" th:if="${#fields.hasErrors('*')}">
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
    </ul>
    <table>
        <tr>
            <td>Nome do questionário:</td>
            <td><input type="text" th:field="*{surveyName}"/></td>
            <td th:if="${#fields.hasErrors('surveyName')}" th:errors="*{surveyName}">Name Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Criar questões</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>