<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header"></head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner">

                <form action="#" class="row" th:object="${questionForm}" th:action="@{/addQuestion}" method="post">
                    <input type="hidden" th:field="*{surveyId}" />
                    <div class="col-12">
                        <div id="validation-messages" class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
                            <p th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</p>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="statement">Enunciado da questão:</label>
                            <input th:field="*{statement}" type="text" class="form-control" id="statement" placeholder="statement" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="animation">Libras do enunciado(código do youtube):</label>
                            <input th:field="*{animation}" type="text" class="form-control" id="animation" placeholder="animation" />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="optionA">Questão A:</label>
                            <input th:field="*{optionA}" type="text" class="form-control" id="optionA" placeholder="optionA" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="animationA">Libras da opção A(código do youtube):</label>
                            <input th:field="*{animationA}" type="text" class="form-control" id="animationA" placeholder="animationA" />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="optionB">Questão B:</label>
                            <input th:field="*{optionB}" type="text" class="form-control" id="optionB" placeholder="optionB" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="animationB">Libras da opção B(código do youtube):</label>
                            <input th:field="*{animationB}" type="text" class="form-control" id="animationB" placeholder="animationB" />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="optionC">Questão C:</label>
                            <input th:field="*{optionC}" type="text" class="form-control" id="optionC" placeholder="optionC" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="animationC">Libras da opção C(código do youtube):</label>
                            <input th:field="*{animationC}" type="text" class="form-control" id="animationC" placeholder="animationC" />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="optionA">Questão D:</label>
                            <input th:field="*{optionD}" type="text" class="form-control" id="optionD" placeholder="optionD" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="animationD">Libras da opção D(código do youtube):</label>
                            <input th:field="*{animationD}" type="text" class="form-control" id="animationD" placeholder="animationD" />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="optionE">Questão E:</label>
                            <input th:field="*{optionE}" type="text" class="form-control" id="optionE" placeholder="optionE" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="animationE">Libras da opção E(código do youtube):</label>
                            <input th:field="*{animationE}" type="text" class="form-control" id="animationE" placeholder="animationE" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                        <label class="form-control-label">Resposta Correta:</label><br/>
                        <label class="custom-control custom-radio">
                            <input id="radio1"  type="radio" class="custom-control-input"  th:field="*{correctAnswer}" th:value="A" />
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">A</span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input id="radio2"  type="radio" class="custom-control-input"  th:field="*{correctAnswer}" th:value="B" />
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">B</span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input id="radio3"  type="radio" class="custom-control-input"  th:field="*{correctAnswer}" th:value="C" />
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">C</span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input id="radio4"  type="radio" class="custom-control-input"  th:field="*{correctAnswer}" th:value="D" />
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">D</span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input id="radio5"  type="radio" class="custom-control-input"  th:field="*{correctAnswer}" th:value="E" />
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">E</span>
                        </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="custom-control custom-checkbox">
                            <input id="checkbox1"  type="checkbox" class="custom-control-input" name="*{moreQuestion}" value="true" />
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Criar outra questão ao salvar</span>
                        </label>
                    </div>
                    <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">Criar questões</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>