<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header">


</head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner text-center">
                <div class="btn-group btn-group-lg" role="group" aria-label="...">
                    <a href="/init" class="btn btn-primary">Criar Questionário</a>

                    <a href="/list" class="btn btn-primary">Pesquisar Questionários</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>