<!DOCTYPE html>
<html>
<head>
    <title>Survey WEB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    <style>
        .navigation-order{
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div>
            <a href="/create">Criar Questionário</a>
        </div>
        <div>
            <a href="/search">Pesquisar Questionários</a>
        </div>
    </div>
</div>

</body>
</html>