<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header"></head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner text-center">
                <div id="accordion" role="tablist">
                    <span th:if="${#lists.size(surveys) == 0}">Não existem questionários cadastrados.</span>
                    <div class="card  text-white bg-dark " th:each="survey : ${surveys}">
                        <div class="card-header" role="tab" th:id="${'heading-' + survey.id}">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" th:href="${'#collapse-'+survey.id}" aria-expanded="true"
                                   aria-controls="collapseOne" th:text="${survey.name}">
                                </a>
                                <span class="pull-right">
                                    <span th:if="${survey.active}"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    <span th:if="${!survey.active}"><a th:href="@{'/changeStatus/' + ${survey.id}}"> <i
                                            class="fa fa-check" aria-hidden="true"></i> </a></span>
                                    <span><a
                                            th:href="@{'/listAnswer/' + ${survey.id}}"> Visualizar respostas </a></span>
                                </span>
                            </h5>
                        </div>

                        <div th:id="${'collapse-'+survey.id}" class="collapse show" role="tabpanel"
                             aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Questão</th>
                                        <th>Resposta</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="question : ${survey.questions}" th.object="${question}">
                                        <td th:text="${question.statement}"></td>
                                        <td th:text="${question.correctAnswer}"></td>
                                    </tr>
                                    <tr th:if="${#lists.size(survey.questions) == 0}">
                                        <td colspan="2">Nao existe questoes cadastradas</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
