<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header"></head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner text-center">
                <div id="accordion" role="tablist">
                    <span th:if="${#lists.size(answers) == 0}">Não existem respostas para este questionário.</span>
                    <div class="card  text-white bg-dark " th:each="answer : ${answers}">
                        <div>
                            <div class="card-body">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nome do avaliado</th>
                                        <th>Questão</th>
                                        <th>Resposta</th>
                                        <th>Resposta Correta</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="question : ${answer.questionAnswerList}" th.object="${question}">
                                        <td th:text="${answer.name}"></td>
                                        <td th:text="${question.question.statement}"></td>
                                        <td th:text="${question.answer}"></td>
                                        <td th:text="${question.question.correctAnswer}"></td>
                                    </tr>
                                    <tr th:if="${#lists.size(answer.questionAnswerList) == 0}">
                                        <td colspan="4">Não existem respostas para este questionário</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <span><a th:href="@{'/list/'}"> Voltar </a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
