<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Survey WEB - Cadastro de Perguntas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    <style>
        .navigation-order{
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>Select</th>
        <th>Survey ID</th>
        <th>Survey Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="survey : ${surveys}">
        <td><input type="checkbox" th:checked="${survey.id}" /></td>
        <td th:text="${survey.id}" ></td>
        <td th:text="${survey.name}"></td>
        <td th:switch="${survey.active}">
            <td th:case="'true'"> Desativar</td>
            <td th:case="'false"> Ativar</td>
        </td>

        <!--<a th:href="@{'/survey/active/' + ${survey.id}}" th:switch="${survey.active}" th.case="true" Desativar th:case="*" Ativar>

        </a>-->
    </tr>
    </tbody>
</table>

</body>
</html>